@{
    ViewBag.Title = "联系我们-青海古驿平安串珠";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView")

<div class="contact">
    <div class="container" style="margin-bottom: 20px">
        <div class="container-fluid" style="margin: 10px;">
            <div class="contact-main">
                <div class="contact-top">

                    <div class="col-md-7">
                        <p style="margin-bottom: 15px">
                            <span style="font-size: 20px; color: black">联 系 人：边东山</span>
                        </p>
                        <p style="margin-top: 15px">
                            <span style="font-size: 20px; color: black">联系电话：15868956091，0972-8610096</span>
                        </p>
                        <p style="margin-top: 15px">
                            <span style="font-size: 20px; color: black">邮箱地址：2143244980@qq.com，2919209998@qq.com </span>
                        </p>
                        <p style="margin-top: 15px">
                            <span style="font-size: 20px; color: black">公司网址：<a href="https://shop1452562718351.1688.com/?spm=0.0.0.0.3iJti3" target="_blank">进入商城</a></span>
                        </p>
                        <p style="margin-top: 15px"><span style="font-size: 20px; color: black">公司总部地址：青海省平安县平安镇东村  </span></p>
                        <p style="margin: 15px auto"><span style="font-size: 20px; color: black">义乌销售部地址：浙江省义乌市稠城街道江北下朱9栋</span></p>
                    </div>

                    <div class="col-md-5">
                        <div class="contact-textarea">
                            <textarea name="suggestText" id="suggestText" placeholder="您的建议.." onfocus="clearInfo();"></textarea>
                            <br />
                            <input type="tel" name="phone" id="phone" placeholder="手机号" onfocus="clearInfo();"/>
                            <p id="info" style="color:red;"></p>
                            <input type="button" value="提交" onclick="submitSuggest();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>