@{
    ViewBag.Title = "错误页面-青海古驿平安串珠";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView")

<div class="contact">
    <img src="/Resources/img/404.jpg" width="100%" />
</div>

<script>
     jQuery(function () {
         var t = 3;
         showTime();
         function showTime() {
             if (t == 1) {
                 clearTimeout(showTime);
                 location.href = 'User/Home';
             }
             t -= 1;
             setTimeout(showTime, 1000);
         }
     });
</script>
