@{
    ViewBag.Title = "公司简介-青海古驿平安串珠";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("HomePartialView")

<div class="container" style="padding-top: 3em">
    <div class="about-in">
        <div class="col-md-12 grid-ab">
            <div class="about-middle">
                <div class="col-md-6 mid-about" style="font-size: 17px; text-align: justify">
                    <p style="color: black; line-height: 1.8">
                        &nbsp;&nbsp;青海古驿平安工艺品有限公司（以下简称公司）成立于2012年6月，法人代表边东山。公司设有设计研发部、生产部、质检部、销售部、人力资 
                        源部、培训部等六个部门。销售部位于中国义乌国际小商品城。
                    </p>
                    <p style="color: black; line-height: 1.8">
                        &nbsp;&nbsp;本公司自成立以来，在企业高层科学、务实的管理领导下，生产、经营规模不断发展壮大。公司目前主要以生产平安串珠（主要有创意礼品类、
                        家居饰品类、时尚手包类等两千多个品种）为主业，销售串珠材料、材料包及串珠成品。产品设计风格以中国传统文化结合西方文化精华，我们拥 
                        有先进的生产工艺和一流的技术团队，设计出的串珠系列产品,现代时尚和文化韵味突出，是家庭装饰、馈赠亲友、喜庆摆设的最佳选择。
                    </p>
                    <p style="color: black; line-height: 1.8">
                        &nbsp;&nbsp;我们以“务实、创新、团结、诚信”为经营理念，面向全国招商，热忱欢迎广大新老客户洽谈合作，互利互惠，共同发展。让我们一起努力，将串
                        珠艺术推向大众、推向全国、推向全球，用心装饰您的生活、装饰世界！
                    </p>
                    <p style="color: black; line-height: 1.8">
                        &nbsp;&nbsp;欢迎广大串珠爱好者致电青海古驿平安工艺品有限公司服务热线：15868956091&nbsp;0972-8610096 
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" style="margin-left:20px" src="@Url.Content("~/Resources/img/qhpa.jpg")" width="70%" />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
