@{
    ViewBag.Title = "补充用户信息-青海古驿平安串珠";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("HomePartialView")

<style>
    .form-control {
        border: 1px solid black;
    }
</style>

<div class="list">
    <h3 class="title1" style="font-size: 25px; color: black; text-align: center; font-family: YouYuan">为了便于后期维护，请您如实填写以下信息，谢谢配合！
    </h3>
    <hr style="border-bottom: 2px solid #F14343;" />
    <div class="row" style="width: 55%; padding: 10px; margin: auto">
        <p id="erro_info" style="color: red; text-align: center">&nbsp;</p>
        <form action="@Url.Action("/RegisterUser")" method="post">
            <div class="form-group" style="margin-bottom: 20px">
                <input type="hidden" name="invitecode" id="invitecode" value="@ViewBag.inviteCode" />
                <p style="color: black; margin-bottom: 5px; font-family: 'Microsoft YaHei'">请输入您的真实姓名：</p>
                <input class="form-control" placeholder="请输入用户名" name="username" id="username" type="text" autofocus="" required>
            </div>
            <div class="form-group">
                <p style="color: black; margin-bottom: 5px; font-family: 'Microsoft YaHei'">请输入您的手机号：</p>
                <input class="form-control" placeholder="请输入手机号" name="phone" id="phone" type="text" required>
            </div>
            <div class="form-group" style="text-align: left">
                <input type="submit" class="btn btn-primary" style="width: 100%; margin-top: 5px; font-size: 20px; background-color: #373B3E; height: 45px; border-color: #2C343A;" onclick="submitUserInfo()" value="确认提交" />
            </div>
        </form>
    </div>
    <hr style="border-bottom: 2px solid #F14343;" />
</div>

<script>
    // 清除两边的空格 
    function trim(t) {
        return (t || "").replace(/^\s+|\s+$/g, "");
    }

    function submitUserInfo() {
        var username = $("#username").val();
        username = trim(username);
        if (username == null || username == undefined || username == '') {
            alert("请输入正确的姓名！");
            return;
        }

        reg = /^[\u4E00-\u9FA5]{2,4}$/;
        if (!reg.test(username)) {
            alert("姓名输入不符合标准！");
            return false;
        }

        var phone = $("#phone").val();
        phone = trim(phone);
        var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (!myreg.test(phone)) {
            alert('请输入有效的手机号码！');
            document.form1.mobile.focus();
            return false;
        }
        return true;
    }
</script>
