@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>青海古驿平安串珠欢迎您</title>
    @Styles.Render("~/Resources/css")
    @Scripts.Render("~/Resources/js")
    <style>
        body {
            background:#fff;
        }
    </style>
</head>

<body>
    <div id="div_1" style="text-align: center; margin-top: 10px">
        <p id="info" style="color: blue; text-align: center; font-family: micsofy 'Microsoft YaHei'; font-size: 20px"></p>
         <img id="welcome" src="/Resources/img/welcome.jpg" / style="vertical-align:middle" >  
    </div>

</body>
<script src="~/Resources/js/utility/welcome.js"></script>
<script src="~/Resources/js/utility/getBrowserInfo.js"></script>
</html>
