@{
    ViewBag.Title = "古驿平安视频系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RefactorVideoSystem.Models.Models.Video

@Html.Partial("HomePartialView")



<script type="text/javascript">
    window.onload = function () {
        document.onkeydown = function () {
            var e = window.event || arguments[0];
            //屏蔽F12
            if (e.keyCode == 123) {
                return false;
                //屏蔽Ctrl+Shift+I
            }
            else if ((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)) {
                return false;
            }
                //屏蔽Shift+F10
            else if ((e.shiftKey) && (e.keyCode == 121)) {
                return false;
            }
        };
        //屏蔽右键单击
        document.oncontextmenu = function () {
            return false;
        }
    }
</script>


<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<div style="margin-top: 10px; text-align: center">
    <span style="font-family: 'Microsoft YaHei'; font-size: 16px">@Model.VideoName</span>
    <div id='plv_@Model.polyVid'" style="margin-top:10px"></div>
    <script>
        var player = polyvObject('#plv_@Model.polyVid').videoPlayer({
            'width': '960',
            'vid': '@Model.polyVid',
        });
    </script>
</div>