@{
    ViewBag.Title = "古驿平安视频系统";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RefactorVideoSystem.Models.Models.Video

@Html.Partial("HomePartialView")

<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<div style="margin-top: 10px; text-align: center">
    <span style="font-family: 'Microsoft YaHei'; font-size: 16px">@Model.VideoName</span>
    <div id='plv_@Model.polyVid'" style="margin-top:10px"></div>
    <script>
        var player = polyvObject('#plv_@Model.polyVid').videoPlayer({
            'width': '960',
            'vid': '@Model.polyVid',
        });
    </script>
</div>
