@{
    ViewBag.Title = "古驿平安-添加产品";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
@using System.IO;


<link rel="stylesheet" type="text/css" href="~/Resources/Plugin/WebUploader/webuploader.css">

<script type="text/javascript" src="~/Resources/Plugin/WebUploader/webuploader.js"></script>
<script type="text/javascript" src="~/Resources/Plugin/WebUploader/MyUpload.js"></script>


<div class="main" style="margin-left:290px;width:80%">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/Qhgypacz/BackMain/")"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">添加产品</li>
        </ol>
    </div>
    <!--/.row-->
    <div class="row">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">添加产品</div>
                <div class="panel-body">
                    <p style="color:red;text-align:center;">@TempData["info"]</p>
                    <form role="form" style="width:600px;margin:auto;" id="uploadForm" action="@Url.Action("AddProduct","Product")" method="post">
                            <table class="uploadTable">
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品名称</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="ProductName" name="Name" placeholder="请输入产品名称" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品价格</label>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="ProductPrice" name="Price" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品链接</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="ProductUrl" name="Url" value="http://" placeholder="请输入产品链接" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ut_title">
                                        <label class=" control-label">产品图片</label>
                                    </td>
                                    <td>
                                        <input type="hidden" class="form-control" id="ImageUrl" name="Img">
                                        <div id="uploader-demo">
                                            <!--用来存放item-->
                                            <div id="thelist" class="uploader-list"></div>
                                            <div id="picker">选择图片</div>
                                        </div>
                                    </td>
                                </tr>
                                
                            </table>

                            <div style="text-align:center;margin-top:20px;">
                                    <button type="submit" id="" class="btn btn-primary">确定</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>