/*手机端、iPad端竖屏*/
@media (max-width: 700px){
   #binaryCode {
        border-left:none;
    }

    #product_title {
        font-size:15px !important;
    }
    #welcome {
         display:none;
    }
    #footContainer, #footContainer_content {
        padding-left:0;
        padding-right:0;
    }

    #welcome_ph {
         display:block;
    }
    #modify_pass {
        width:100%;
    }
    #top_bar {
        margin-top:0px;
    }

    #userInfoDiv {
        width:100%;
    }

    #systemTitle {
        display:block;
    }
    #top_bar {
        margin-top:20px !important;
    }
    
    #form_id {
        background-color: white;
    }
    #top_img {
        display: none;
        width:0px;
        height:0px;
    }
    #tip_img {
        width:100%;
    }
    #app_head {
        margin: auto; 
        font-size:20px; 
        font-family:微软雅黑; 
        color:white; 
        padding:10px; 
        background-color:blue;
        display:block;
    }
}


@media (max-width: 1023px) and (min-width: 700px){

    * {
        margin:0;
    }
    #welcome_ph {
         display:none;
    }
     #welcome {
         display:inline-block;
    }
     #binaryCode {
        border-left:1px solid white;
    }
    #top_img {
        display: block;
        width:400px;
        height:50px;
    }
    #top_bar {
        margin-top:50px;
    }

    #back_behind,#back_front {
        background:none;
        background-image:none;
    }

    #app_head {
        
        display:none;
    }

    body {
        width:100%;
    }

    #home_logo {
        display:none;
    }

    #login_table {
        border-spacing: 40px;
        border-collapse: separate;
    }

    .vid_loac {
        margin-top:30px;
    }
    .top {
        margin-top:10px;
    }
    .third_login {
        margin-top: 100px; 
        text-align: center;
    }
    .third_login img {
        width:30px;
    }
    #div_login {
        padding:10px;
        padding-top:30px;
    }
    .form_table table {
        width:100%; 
        text-align:center;
    }
    .form_table input[type="text"],input[type="password"]{
        width:90%; 
    }
    .pc_video_list {
        display:none;
    }
    .phone_video_list {
        background-color:white;
        padding:3px;
    }
    .phone_video_list td {
        padding-left:2%
    }
    .phone_video_list h4 {
        margin-top:3px;
    }
    .phone_video_list p {
        margin-top:-5px;
        font-size:1em;
        color:#808080;
    }
    .phone_video_list img{
        width:92%;
    }
    .get_video {
        background-color:white;
        padding:3px;
    }
    .suggest{
        background-color:white;
        padding:3px;
    }
    .current_video {
        background-color:white;
        padding:3px;
    }
    .current_video p{
       color:#808080;
       margin-top:-5px;
    }
}
/*PC端，iPad端横屏*/
@media (min-width: 1023px) {
    #top_img {
        display: block;
        width:400px;
        height:50px;
    }
    #userInfoDiv {
        width:60%;
    }
    #systemTitle {
        display:none;
    }

    #welcome_ph {
         display:none;
    }
     #welcome {
         display:inline-block;
    }

     #binaryCode {
        border-left:1px solid white;
    }
    #top_bar {
        margin-top:50px;
    }
     #back_behind {
       background-image: url(../Image/back1.jpg);
       position: absolute; 
       bottom: 44%; 
       width: 100%; 
       margin-bottom: -260px; 
       padding:10px;
    }
     
     #register_div {
        position: absolute;
        bottom: 50%;
        width: 100%;
        margin-bottom: -240px;
        padding: 10px;
    }

     #back_front {
        background-image: url(../Image/back_front.png);
    }

    #app_head {
        display:none;
    }

    #register_div {
        background-image:url(../Image/back1.jpg);
    }

      #form_id {
        background-color: rgba(0,0,0,0.2);
    }

    .current_video {
        display:none;
    }
    .vid_loac {
        margin-top:90px;
    }

    .register_row{
        margin-top:20px;
    }

    .top {
        margin-top:0px;
    }
    .head_footer {
        display:block;
    }
    .third_login {
        margin-top: 30px; 
        text-align: center;
    }
    .third_login img {
        width:40px;
    }
    #div_login {
        /*border: solid 1px #808080;*/
        border-radius:5px;
        padding:10px
    }
    .form_table table {
        margin:auto;
        text-align:center;
    }
    .form_table input[type="text"],input[type="password"]{
       width:100%; 
    }

    .pc_video_list {
        height: 502px;
        background:#222222;
        padding-left:10px;
        overflow-y:auto;
        overflow-x:hidden;
    }
    .pc_video_list img {
       width:140px;
       height:75px; 
    }
    .pc_video_list td{
        padding:2px;
        border-bottom:solid 1px #808080;
    }
    .pc_video_list h4,p{
        color:white;
    }
    .phone_video_list {
        display:none;
    }
    .get_video {
        border: solid 1px;
    }
    .suggest{
        border: solid 1px;
    }
}



.third_login table{
    margin:auto;
}

.third_login td {
    padding:3px;
}


.form_table td{
    padding-top:5px;
}
.form_table label{
    margin-right:10px;
}


.uploadTable {
    width:100%;
}

.ut_title {
    width:100px;
}

.uploadTable td{
    padding-top:15px;
    padding-left:5px;
}

.queue {
    width:300px;
}

#ImagePreview {
    width:300px;
    height:300px;
}


#backLogin {
    background-image:url(/Image/backLoginImg.jpg); 
    background-size:cover;
    
}