#UserAccount,
#UserPassword,
#UserConfirmPassword,
#email,
#email,
#phone,
#code {
    border-color: #ccc;
    border-radius: 0;
    width: 100%;
}


#registe_btn {
    width: 100%;
    background-color: #2185C5;
    border: none;
    height: 35px;
}

#reset_btn {
    width: 100%;
    background-color: #D34836;
    border: none;
    height: 35px;
}
